<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.developer-tools</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIconFile</key>
    <string>helper-icon.icns</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>${TIDY_CFBundleShortVersionString}</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>${TIDY_CFBundleVersion}</string>
    <key>LSMinimumSystemVersion</key>
    <string>$(MACOSX_DEPLOYMENT_TARGET)</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSHumanReadableCopyright</key>
    <string>${TIDY_NSHumanReadableCopyright}</string>
    <key>NSMainNibFile</key>
    <string>HelperMainMenu</string>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>NSServices</key>
    <array>
        <dict>
            <key>NSServiceDescription</key>
            <string>Tidy the selection in place using Balthisar Tidy and its Preferences settings. The result is a complete HTML document.</string>
            <key>NSKeyEquivalent</key>
            <dict>
                <key>default</key>
                <string></string>
            </dict>
            <key>NSMenuItem</key>
            <dict>
                <key>default</key>
                <string>$(TIDY_SERVICE_MENU_NAME)</string>
            </dict>
            <key>NSMessage</key>
            <string>tidySelection</string>
            <key>NSPortName</key>
            <string>com.balthisar.service.port</string>
            <key>NSReturnTypes</key>
            <array>
                <string>NSStringPboardType</string>
            </array>
            <key>NSSendTypes</key>
            <array>
                <string>NSStringPboardType</string>
            </array>
            <key>NSRequiredContext</key>
            <dict>
                <key>NSServiceCategory</key>
                <string>Internet</string>
            </dict>
        </dict>
        <dict>
            <key>NSServiceDescription</key>
            <string>Tidy the selection in place using Balthisar Tidy and its Preferences settings. The result is an HTML fragment.</string>
            <key>NSKeyEquivalent</key>
            <dict>
                <key>default</key>
                <string></string>
            </dict>
            <key>NSMenuItem</key>
            <dict>
                <key>default</key>
                <string>$(TIDY_SERVICE_MENU_NAME_FRAGMENT)</string>
            </dict>
            <key>NSMessage</key>
            <string>tidySelectionBodyOnly</string>
            <key>NSPortName</key>
            <string>com.balthisar.service.port</string>
            <key>NSReturnTypes</key>
            <array>
                <string>NSStringPboardType</string>
            </array>
            <key>NSSendTypes</key>
            <array>
                <string>NSStringPboardType</string>
            </array>
            <key>NSRequiredContext</key>
            <dict>
                <key>NSServiceCategory</key>
                <string>Internet</string>
            </dict>
        </dict>
    </array>
    <key>OSAScriptingDefinition</key>
    <string>${TIDY_SDEF}</string>
    <key>NSAppleScriptEnabled</key>
    <string>${JSD_APPLESCRIPT_VALUE}</string>
</dict>
</plist>
