/* image_sizes.css.erb
 *  This file uses the `css_image_sizes` helper to include maximum image
 *  dimensions for every image in your project.
 *
 *  Right now there seems to be an incompatibility with :relative_assets.
 */

img[src$='images/all-action-invoke.png'] { max-width: 170px; max-height: 32px; }
img[src$='images/all-action-invoke@2x.png'] { max-width: 170px; max-height: 32px; }
img[src$='images/all-action-menu.png'] { max-width: 322px; max-height: 105px; }
img[src$='images/all-action-menu@2x.png'] { max-width: 322px; max-height: 105px; }
img[src$='images/all-cursor-splitter-leftright.png'] { max-width: 24px; max-height: 24px; }
img[src$='images/all-cursor-splitter-leftright@2x.png'] { max-width: 24px; max-height: 24px; }
img[src$='images/all-cursor-splitter-updown.png'] { max-width: 24px; max-height: 24px; }
img[src$='images/all-cursor-splitter-updown@2x.png'] { max-width: 24px; max-height: 24px; }
img[src$='images/all-docpart-browser.png'] { max-width: 851px; max-height: 180px; }
img[src$='images/all-docpart-browser@2x.png'] { max-width: 851px; max-height: 180px; }
img[src$='images/all-docpart-fullscreen.png'] { max-width: 21px; max-height: 21px; }
img[src$='images/all-docpart-fullscreen@2x.png'] { max-width: 21px; max-height: 21px; }
img[src$='images/all-docpart-messages.png'] { max-width: 851px; max-height: 180px; }
img[src$='images/all-docpart-messages@2x.png'] { max-width: 851px; max-height: 180px; }
img[src$='images/all-docpart-source.png'] { max-width: 851px; max-height: 193px; }
img[src$='images/all-docpart-source@2x.png'] { max-width: 851px; max-height: 192px; }
img[src$='images/all-docpart-tidyd.png'] { max-width: 851px; max-height: 198px; }
img[src$='images/all-docpart-tidyd@2x.png'] { max-width: 851px; max-height: 198px; }
img[src$='images/all-docpart-tidyoptions.png'] { max-width: 301px; max-height: 571px; }
img[src$='images/all-docpart-tidyoptions@2x.png'] { max-width: 300px; max-height: 571px; }
img[src$='images/all-docpart-toolbar.png'] { max-width: 1152px; max-height: 45px; }
img[src$='images/all-docpart-toolbar@2x.png'] { max-width: 1152px; max-height: 45px; }
img[src$='images/all-docpart-windowcontrols.png'] { max-width: 72px; max-height: 21px; }
img[src$='images/all-docpart-windowcontrols@2x.png'] { max-width: 72px; max-height: 21px; }
img[src$='images/all-helper-encoding.png'] { max-width: 566px; max-height: 249px; }
img[src$='images/all-helper-encoding@2x.png'] { max-width: 566px; max-height: 249px; }
img[src$='images/all-helper-startup.png'] { max-width: 599px; max-height: 288px; }
img[src$='images/all-helper-startup@2x.png'] { max-width: 599px; max-height: 288px; }
img[src$='images/all-helper-tutorial.png'] { max-width: 312px; max-height: 200px; }
img[src$='images/all-helper-tutorial@2x.png'] { max-width: 312px; max-height: 200px; }
img[src$='images/all-menu-context-preview.png'] { max-width: 221px; max-height: 84px; }
img[src$='images/all-menu-context-preview@2x.png'] { max-width: 221px; max-height: 84px; }
img[src$='images/all-menu-context-toolbar.png'] { max-width: 171px; max-height: 146px; }
img[src$='images/all-menu-context-toolbar@2x.png'] { max-width: 171px; max-height: 146px; }
img[src$='images/all-menu-edit.png'] { max-width: 217px; max-height: 234px; }
img[src$='images/all-menu-edit@2x.png'] { max-width: 217px; max-height: 234px; }
img[src$='images/all-menu-help.png'] { max-width: 350px; max-height: 76px; }
img[src$='images/all-menu-help@2x.png'] { max-width: 350px; max-height: 76px; }
img[src$='images/all-menu-main-root.png'] { max-width: 480px; max-height: 22px; }
img[src$='images/all-menu-main-root@2x.png'] { max-width: 480px; max-height: 22px; }
img[src$='images/all-menu-services.png'] { max-width: 372px; max-height: 92px; }
img[src$='images/all-menu-services@2x.png'] { max-width: 372px; max-height: 92px; }
img[src$='images/all-menu-view-sourcecode.png'] { max-width: 177px; max-height: 103px; }
img[src$='images/all-menu-view-sourcecode@2x.png'] { max-width: 177px; max-height: 103px; }
img[src$='images/all-menu-view.png'] { max-width: 197px; max-height: 146px; }
img[src$='images/all-menu-view@2x.png'] { max-width: 197px; max-height: 146px; }
img[src$='images/all-menu-window.png'] { max-width: 242px; max-height: 108px; }
img[src$='images/all-menu-window@2x.png'] { max-width: 242px; max-height: 108px; }
img[src$='images/all-message-gutter.png'] { max-width: 216px; max-height: 69px; }
img[src$='images/all-message-gutter@2x.png'] { max-width: 216px; max-height: 68px; }
img[src$='images/all-save-save-as-required.png'] { max-width: 532px; max-height: 313px; }
img[src$='images/all-save-save-as-required@2x.png'] { max-width: 532px; max-height: 313px; }
img[src$='images/all-save-save-warning.png'] { max-width: 532px; max-height: 299px; }
img[src$='images/all-save-save-warning@2x.png'] { max-width: 532px; max-height: 299px; }
img[src$='images/all-setup-extensions.png'] { max-width: 668px; max-height: 507px; }
img[src$='images/all-setup-extensions@2x.png'] { max-width: 668px; max-height: 507px; }
img[src$='images/all-setup-preferences.png'] { max-width: 668px; max-height: 598px; }
img[src$='images/all-setup-preferences@2x.png'] { max-width: 668px; max-height: 598px; }
img[src$='images/all-setup-services.png'] { max-width: 668px; max-height: 581px; }
img[src$='images/all-setup-services@2x.png'] { max-width: 668px; max-height: 581px; }
img[src$='images/all-tbb-defaultset.png'] { max-width: 546px; max-height: 46px; }
img[src$='images/all-tbb-defaultset@2x.png'] { max-width: 550px; max-height: 46px; }
img[src$='images/all-tbb-errorsinline.png'] { max-width: 106px; max-height: 54px; }
img[src$='images/all-tbb-errorsinline@2x.png'] { max-width: 106px; max-height: 54px; }
img[src$='images/all-tbb-flexspace.png'] { max-width: 106px; max-height: 54px; }
img[src$='images/all-tbb-flexspace@2x.png'] { max-width: 106px; max-height: 54px; }
img[src$='images/all-tbb-gutter.png'] { max-width: 72px; max-height: 54px; }
img[src$='images/all-tbb-gutter@2x.png'] { max-width: 72px; max-height: 54px; }
img[src$='images/all-tbb-help.png'] { max-width: 72px; max-height: 54px; }
img[src$='images/all-tbb-help@2x.png'] { max-width: 72px; max-height: 54px; }
img[src$='images/all-tbb-invisiblechars.png'] { max-width: 106px; max-height: 54px; }
img[src$='images/all-tbb-invisiblechars@2x.png'] { max-width: 106px; max-height: 54px; }
img[src$='images/all-tbb-messages.png'] { max-width: 106px; max-height: 54px; }
img[src$='images/all-tbb-messages@2x.png'] { max-width: 106px; max-height: 54px; }
img[src$='images/all-tbb-options.png'] { max-width: 106px; max-height: 54px; }
img[src$='images/all-tbb-options@2x.png'] { max-width: 106px; max-height: 54px; }
img[src$='images/all-tbb-orient.png'] { max-width: 106px; max-height: 54px; }
img[src$='images/all-tbb-orient@2x.png'] { max-width: 106px; max-height: 54px; }
img[src$='images/all-tbb-prefs.png'] { max-width: 72px; max-height: 54px; }
img[src$='images/all-tbb-prefs@2x.png'] { max-width: 72px; max-height: 54px; }
img[src$='images/all-tbb-print.png'] { max-width: 72px; max-height: 54px; }
img[src$='images/all-tbb-print@2x.png'] { max-width: 72px; max-height: 54px; }
img[src$='images/all-tbb-space.png'] { max-width: 106px; max-height: 54px; }
img[src$='images/all-tbb-space@2x.png'] { max-width: 72px; max-height: 54px; }
img[src$='images/all-tbb-syntaxcolor.png'] { max-width: 106px; max-height: 54px; }
img[src$='images/all-tbb-syntaxcolor@2x.png'] { max-width: 106px; max-height: 54px; }
img[src$='images/all-tbb-tutorialb.png'] { max-width: 106px; max-height: 54px; }
img[src$='images/all-tbb-tutorialb@2x.png'] { max-width: 106px; max-height: 54px; }
img[src$='images/all-tidy-main-window-browser.png'] { max-width: 1152px; max-height: 643px; }
img[src$='images/all-tidy-main-window-browser@2x.png'] { max-width: 1152px; max-height: 643px; }
img[src$='images/all-tidy-main-window.png'] { max-width: 1152px; max-height: 643px; }
img[src$='images/all-tidy-main-window@2x.png'] { max-width: 1152px; max-height: 643px; }
img[src$='images/all-toolbar-customize.png'] { max-width: 618px; max-height: 381px; }
img[src$='images/all-toolbar-customize@2x.png'] { max-width: 618px; max-height: 381px; }
img[src$='images/web-menu-application.png'] { max-width: 198px; max-height: 208px; }
img[src$='images/web-menu-application@2x.png'] { max-width: 198px; max-height: 208px; }
img[src$='images/web-menu-context-options-prefs.png'] { max-width: 212px; max-height: 68px; }
img[src$='images/web-menu-context-options-prefs@2x.png'] { max-width: 212px; max-height: 68px; }
img[src$='images/web-menu-context-options.png'] { max-width: 260px; max-height: 84px; }
img[src$='images/web-menu-context-options@2x.png'] { max-width: 260px; max-height: 84px; }
img[src$='images/web-menu-file.png'] { max-width: 178px; max-height: 203px; }
img[src$='images/web-menu-file@2x.png'] { max-width: 178px; max-height: 203px; }
img[src$='images/web-tidy-prefs-Advanced.png'] { max-width: 390px; max-height: 488px; }
img[src$='images/web-tidy-prefs-Advanced@2x.png'] { max-width: 390px; max-height: 488px; }
img[src$='images/web-tidy-prefs-Document.png'] { max-width: 390px; max-height: 443px; }
img[src$='images/web-tidy-prefs-Document@2x.png'] { max-width: 390px; max-height: 443px; }
img[src$='images/web-tidy-prefs-Editor.png'] { max-width: 500px; max-height: 668px; }
img[src$='images/web-tidy-prefs-Editor@2x.png'] { max-width: 500px; max-height: 668px; }
img[src$='images/web-tidy-prefs-Options.png'] { max-width: 390px; max-height: 536px; }
img[src$='images/web-tidy-prefs-Options@2x.png'] { max-width: 390px; max-height: 536px; }
img[src$='images/web-tidy-prefs-Saving.png'] { max-width: 390px; max-height: 348px; }
img[src$='images/web-tidy-prefs-Saving@2x.png'] { max-width: 390px; max-height: 348px; }
img[src$='images/web-tidy-prefs-Tidy.png'] { max-width: 390px; max-height: 448px; }
img[src$='images/web-tidy-prefs-Tidy@2x.png'] { max-width: 390px; max-height: 448px; }
img[src$='images/web-tidy-prefs-Updates.png'] { max-width: 390px; max-height: 333px; }
img[src$='images/web-tidy-prefs-Updates@2x.png'] { max-width: 390px; max-height: 333px; }
img[src$='breadcrumb-separator-light.png'] { max-width: 7px; max-height: 22px; }
img[src$='icon_256x256.png'] { max-width: 256px; max-height: 256px; }
img[src$='icon_256x256@2x.png'] { max-width: 256px; max-height: 256px; }
img[src$='icon_32x32.png'] { max-width: 32px; max-height: 32px; }
img[src$='icon_32x32@2x.png'] { max-width: 32px; max-height: 32px; }
