[submodule "HTMLTidy/tidy-html5"]
	path = HTMLTidy/tidy-html5
	url = https://github.com/htacg/tidy-html5.git
[submodule "JSDNuVFramework/validator"]
	path = JSDNuVFramework/validator
	url = https://github.com/validator/validator.git
