#
# macOS X noise.
#
.DS_Store


#
# Xcode artifacts to ignore.
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
profile
*.moved-aside
DerivedData
.idea/
*.hmap
*.xccheckout
*xcworkspace


#
# old skool
#
.svn


#
# Documentation and such.
#
AppleDoc
Distribution
Documentation/Doxygen
Documentation/html


#
# Help Build System built content.
#
Contents\ \(build\)


#
# Auto-gen'd header files.
#
HTMLTidy/xcode-version.h
JSDNuVFramework/xcode-version.h


#
# Stuff brought in by dependency managers.
#
Carthage/
Pods


