#
# Use my Fragaria, which is usually up to date with Shysaur's,
# but that I also sometimes make tweaks to.
#
github "balthisar/Fragaria" "master"


#
# Always use the latest MMTabBarView.
#
github "MiMo42/MMTabBarView" "master"


#
# So that we can update in a sandboxed environment, always use
# the latest from the ui-separation-and-xpc branch. However, this
# doesn't build everything we need, such as the XPC.
#
github "sparkle-project/Sparkle" "ui-separation-and-xpc"


#
# This bit handles our About… window.
#
github "DangerCove/DCOAboutWindow" "master"
github "DangerCove/DCOTransparentScroller" "master"


#
# This still remains one of the best Preferences windows managers
# that's out there.
#
github "shpakovski/MASPreferences"
