---
title: Splitters
blurb: The splitters are not obvious, but knowledge about them will make your
       use of <em>Balthisar Tidy</em> a lot easier.
layout: template-logo-medium
order: 6
---
<%= partial 'markdown-links' %>
<%= partial 'markdown-images' %>

<%= current_page.data.title %>
==============================

Splitters provide additional options for making _Balthisar Tidy_’s document
window work according to your tastes. We’ve taken steps to mentioning them in
this reference work because they’re not an obvious feature, because the
splitters are impossible to see. You your mouse cursor will change shape
when it passes over one of the splitters.

<div class="image_article narrow" markdown="1">
<div markdown="span">![left-right cursor][cursor-splitter-leftright]</div>
When the cursor changes to this shape, you can resize the panels to the
left and right of the splitter.
</div>

<div class="image_article narrow" markdown="1">
<div markdown="span">![up-down cursor][cursor-splitter-updown]</div>
When the cursor appears as such, you can resize the panels above and below the
splitter.
</div>
