---
title: The Toolbar
blurb: This comprehensive toolbar reference will help you dominate your complete
       workflow.
layout: template-logo-medium
order: 8
---
<%= partial 'markdown-links' %>
<%= partial 'markdown-images' %>

<%= current_page.data.title %>
==============================

The default toolbar, below, comes preconfigured for the options that users will
use most. This reference describes the functions of the toolbar buttons. For a
refresher on how to work with the toolbar and customize it, please consult the
[toolbar lesson][docwin-toolbarcustomize].

![default toolbar][tbb-defaultset]

* * *

Toolbar Button Descriptions
----------------------------

<div class="image_article" markdown="1">
<div markdown="span">![tidy options button][tbb-options]</div>
**Tidy Options Panel**: This toolbar button toggles the visibility of the
**Tidy Options** panel.
</div>


<div class="image_article" markdown="1">
<div markdown="span">![tidy messages button][tbb-messages]</div>
**Messages Panel**: This toolbar button toggles the visibility of the
**Tidy Messages** panel.
</div>


<div class="image_article" markdown="1">
<div markdown="span">![orient button][tbb-orient]</div>
**Source Orientation**: This toolbar button toggles the visibility of the
**Tidy Messages** panel.
</div>


<div class="image_article" markdown="1">
<div markdown="span">![preferences button][tbb-prefs]</div>
**Preferences**: This toolbar button opens _Balthisar Tidy_’s Preferences
window.
</div>


<div class="image_article" markdown="1">
<div markdown="span">![tutorial button][tbb-tutorialb]</div>
**Quick Tutorial**: This toolbar button starts the **Quick Tutorial**.
</div>


<div class="image_article" markdown="1">
<div markdown="span">![space button][tbb-space]</div>
**Space**: This toolbar item isn’t actually a button, but rather a space that
you can insert into the toolbar to help you organize it during customization.
</div>


<div class="image_article" markdown="1">
<div markdown="span">![flexible space button][tbb-flexspace]</div>
**Flexible Space**: This toolbar item isn’t actually a button, but rather a
space that you can insert into the toolbar to help you organize it during
customization.
</div>


<div class="image_article" markdown="1">
<div markdown="span">![print button][tbb-print]</div>
**Print**: This toolbar button will open the **Print** dialog for the document.
</div>


<div class="image_article" markdown="1">
<div markdown="span">![help button][tbb-help]</div>
**Help**: This toolbar button opens the Help file for _Balthisar Tidy_.
</div>
