---
title: Full Screen Mode
blurb: Learn about the features and differences of using <em>Balthisar Tidy</em>
       in full screen mode.
layout: template-logo-medium
order: 7
---
<%= partial 'markdown-links' %>
<%= partial 'markdown-images' %>

<%= current_page.data.title %>
==============================

Full screen mode makes it simple for you to use _Balthisar Tidy_ without any
distractions. Follow these steps to enable full screen mode.

<div class=" steps" markdown="1">

1. Select **Enter Full Screen** from the **View** menu.
   ![view menu][menu-view]

2. Alternatively you can use the shortcut key as shown in the **View** menu.

3. You can also use the standard Mac OS X document window title bar control to
   start full screen.
   - On Mac OS X before versions 10.10 (“Yosemite”) the standard control is on
     the top-right of the document title bar.
     ![old fullscreen][docpart-fullscreen]
   - On Mac OS X 10.10 and newer, the zoom button starts full screen mode.
     ![new fullscreen][docpart-windowcontrols]

</div>
