---
title: Tidy Options
blurb: A plethora of Tidy options gives you full control over the output style,
       error corrections, and problem detection that <em>Balthisar Tidy</em>
       offers you.
layout: template-logo-medium
order: 4
---
<%= partial 'markdown-links' %>
<%= partial 'markdown-images' %>

<%= current_page.data.title %>
==============================

_<%= product_name %>_ Tidy’s the text according to a broad set of options which
are found in the **Tidy Options** panel. These options affect how Tidy cleans,
corrects errors, formats, and identifies accessibility issues in your code.

<div class="image_article" markdown="1">

<div markdown="span">![tidy options panel][all-docpart-tidyoptions]</div>

If you select any of the Tidy options, a description of that option
appears at the bottom of the **Tidy Options** panel.

If you prefer not to see the description (e.g., to save screen space) then
you can hide it completely using the show and hide button at the bottom left
hand side of the list.

Finally, at the bottom of the options panel is an action button with
several choices that can help you work more effectively with Tidy’s
options.

![context menu][all-menu-context-options]

[Reset options to defaults in Preferences][options-revertdefault]
 : This  will change all of the Tidy options in the current document back to
   the settings that are stored in Preferences.

[Save these option settings to Preferences][options-makedefault]
 : This action will set the Tidy options in Preferences for you.

[Show friendly option names][options-appearance]
 : This action will toggle the use of friendly option names on and off. Normally
   *Balthisar Tidy* displays the Unix Tidy option names so that experienced Tidy
   users can identify their favorite options right away. When friendly names are
   enabled, *Balthisar Tidy* shows more human-friendly names for the options.
   This is particularly useful if you’re using a non-English version of
   *Balthisar Tidy* because the Unix names are English only.

[Show options in groups][options-group]
 : This action toggles between showing Tidy options organized into logical
   groups or Tidy options sorted in your language’s natural order.

<% if target_feature?(:feature_exports_config) %>
[Export a Unix config file with these options…][export_config]
 : Use this action to export the options in the current window into a file
   suitable for use with command line Tidy.

<% end %>
