img[src$='all-action-invoke.png'] { max-width: 170px; }
img[src$='all-action-invoke@2x.png'] { max-width: 170px; }
img[src$='all-action-menu.png'] { max-width: 322px; }
img[src$='all-action-menu@2x.png'] { max-width: 322px; }
img[src$='all-cursor-splitter-leftright.png'] { max-width: 24px; }
img[src$='all-cursor-splitter-leftright@2x.png'] { max-width: 24px; }
img[src$='all-cursor-splitter-updown.png'] { max-width: 24px; }
img[src$='all-cursor-splitter-updown@2x.png'] { max-width: 24px; }
img[src$='all-docpart-fullscreen.png'] { max-width: 21px; }
img[src$='all-docpart-fullscreen@2x.png'] { max-width: 21px; }
img[src$='all-docpart-messages.png'] { max-width: 851px; }
img[src$='all-docpart-messages@2x.png'] { max-width: 851px; }
img[src$='all-docpart-source.png'] { max-width: 851px; }
img[src$='all-docpart-source@2x.png'] { max-width: 851px; }
img[src$='all-docpart-tidyd.png'] { max-width: 851px; }
img[src$='all-docpart-tidyd@2x.png'] { max-width: 851px; }
img[src$='all-docpart-tidyoptions.png'] { max-width: 301px; }
img[src$='all-docpart-tidyoptions@2x.png'] { max-width: 300px; }
img[src$='all-docpart-toolbar.png'] { max-width: 1152px; }
img[src$='all-docpart-toolbar@2x.png'] { max-width: 1152px; }
img[src$='all-docpart-windowcontrols.png'] { max-width: 72px; }
img[src$='all-docpart-windowcontrols@2x.png'] { max-width: 72px; }
img[src$='all-helper-encoding.png'] { max-width: 566px; }
img[src$='all-helper-encoding@2x.png'] { max-width: 566px; }
img[src$='all-helper-startup.png'] { max-width: 599px; }
img[src$='all-helper-startup@2x.png'] { max-width: 599px; }
img[src$='all-helper-tutorial.png'] { max-width: 312px; }
img[src$='all-helper-tutorial@2x.png'] { max-width: 312px; }
img[src$='all-menu-context-toolbar.png'] { max-width: 171px; }
img[src$='all-menu-context-toolbar@2x.png'] { max-width: 171px; }
img[src$='all-menu-edit.png'] { max-width: 217px; }
img[src$='all-menu-edit@2x.png'] { max-width: 217px; }
img[src$='all-menu-help.png'] { max-width: 350px; }
img[src$='all-menu-help@2x.png'] { max-width: 350px; }
img[src$='all-menu-main-root.png'] { max-width: 480px; }
img[src$='all-menu-main-root@2x.png'] { max-width: 480px; }
img[src$='all-menu-services.png'] { max-width: 372px; }
img[src$='all-menu-services@2x.png'] { max-width: 372px; }
img[src$='all-menu-view-sourcecode.png'] { max-width: 177px; }
img[src$='all-menu-view-sourcecode@2x.png'] { max-width: 177px; }
img[src$='all-menu-view.png'] { max-width: 197px; }
img[src$='all-menu-view@2x.png'] { max-width: 197px; }
img[src$='all-menu-window.png'] { max-width: 242px; }
img[src$='all-menu-window@2x.png'] { max-width: 242px; }
img[src$='all-message-gutter.png'] { max-width: 216px; }
img[src$='all-message-gutter@2x.png'] { max-width: 216px; }
img[src$='all-save-save-as-required.png'] { max-width: 532px; }
img[src$='all-save-save-as-required@2x.png'] { max-width: 532px; }
img[src$='all-save-save-warning.png'] { max-width: 532px; }
img[src$='all-save-save-warning@2x.png'] { max-width: 532px; }
img[src$='all-setup-extensions.png'] { max-width: 668px; }
img[src$='all-setup-extensions@2x.png'] { max-width: 668px; }
img[src$='all-setup-preferences.png'] { max-width: 668px; }
img[src$='all-setup-preferences@2x.png'] { max-width: 668px; }
img[src$='all-setup-services.png'] { max-width: 668px; }
img[src$='all-setup-services@2x.png'] { max-width: 668px; }
img[src$='all-tbb-defaultset.png'] { max-width: 546px; }
img[src$='all-tbb-defaultset@2x.png'] { max-width: 550px; }
img[src$='all-tbb-errorsinline.png'] { max-width: 106px; }
img[src$='all-tbb-errorsinline@2x.png'] { max-width: 106px; }
img[src$='all-tbb-flexspace.png'] { max-width: 106px; }
img[src$='all-tbb-flexspace@2x.png'] { max-width: 106px; }
img[src$='all-tbb-gutter.png'] { max-width: 72px; }
img[src$='all-tbb-gutter@2x.png'] { max-width: 72px; }
img[src$='all-tbb-help.png'] { max-width: 72px; }
img[src$='all-tbb-help@2x.png'] { max-width: 72px; }
img[src$='all-tbb-invisiblechars.png'] { max-width: 106px; }
img[src$='all-tbb-invisiblechars@2x.png'] { max-width: 106px; }
img[src$='all-tbb-messages.png'] { max-width: 106px; }
img[src$='all-tbb-messages@2x.png'] { max-width: 106px; }
img[src$='all-tbb-options.png'] { max-width: 106px; }
img[src$='all-tbb-options@2x.png'] { max-width: 106px; }
img[src$='all-tbb-orient.png'] { max-width: 106px; }
img[src$='all-tbb-orient@2x.png'] { max-width: 106px; }
img[src$='all-tbb-prefs.png'] { max-width: 72px; }
img[src$='all-tbb-prefs@2x.png'] { max-width: 72px; }
img[src$='all-tbb-print.png'] { max-width: 72px; }
img[src$='all-tbb-print@2x.png'] { max-width: 72px; }
img[src$='all-tbb-space.png'] { max-width: 106px; }
img[src$='all-tbb-space@2x.png'] { max-width: 72px; }
img[src$='all-tbb-syntaxcolor.png'] { max-width: 106px; }
img[src$='all-tbb-syntaxcolor@2x.png'] { max-width: 106px; }
img[src$='all-tbb-tutorialb.png'] { max-width: 106px; }
img[src$='all-tbb-tutorialb@2x.png'] { max-width: 106px; }
img[src$='all-tidy-main-window.png'] { max-width: 1152px; }
img[src$='all-tidy-main-window@2x.png'] { max-width: 1152px; }
img[src$='all-toolbar-customize.png'] { max-width: 618px; }
img[src$='all-toolbar-customize@2x.png'] { max-width: 618px; }
img[src$='app-menu-application.png'] { max-width: 198px; }
img[src$='app-menu-application@2x.png'] { max-width: 198px; }
img[src$='app-menu-context-options-prefs.png'] { max-width: 212px; }
img[src$='app-menu-context-options-prefs@2x.png'] { max-width: 212px; }
img[src$='app-menu-context-options.png'] { max-width: 260px; }
img[src$='app-menu-context-options@2x.png'] { max-width: 260px; }
img[src$='app-menu-file.png'] { max-width: 178px; }
img[src$='app-menu-file@2x.png'] { max-width: 178px; }
img[src$='app-tidy-prefs-Advanced.png'] { max-width: 390px; }
img[src$='app-tidy-prefs-Advanced@2x.png'] { max-width: 390px; }
img[src$='app-tidy-prefs-Document.png'] { max-width: 390px; }
img[src$='app-tidy-prefs-Document@2x.png'] { max-width: 390px; }
img[src$='app-tidy-prefs-Editor.png'] { max-width: 500px; }
img[src$='app-tidy-prefs-Editor@2x.png'] { max-width: 500px; }
img[src$='app-tidy-prefs-Options.png'] { max-width: 390px; }
img[src$='app-tidy-prefs-Options@2x.png'] { max-width: 390px; }
img[src$='app-tidy-prefs-Saving.png'] { max-width: 390px; }
img[src$='app-tidy-prefs-Saving@2x.png'] { max-width: 390px; }
img[src$='app-tidy-prefs-Tidy.png'] { max-width: 486px; }
img[src$='app-tidy-prefs-Tidy@2x.png'] { max-width: 486px; }
img[src$='pro-menu-application.png'] { max-width: 254px; }
img[src$='pro-menu-application@2x.png'] { max-width: 254px; }
img[src$='pro-menu-context-options-prefs.png'] { max-width: 275px; }
img[src$='pro-menu-context-options-prefs@2x.png'] { max-width: 275px; }
img[src$='pro-menu-context-options.png'] { max-width: 275px; }
img[src$='pro-menu-context-options@2x.png'] { max-width: 275px; }
img[src$='pro-menu-file.png'] { max-width: 178px; }
img[src$='pro-menu-file@2x.png'] { max-width: 178px; }
img[src$='pro-menu-main-root.png'] { max-width: 480px; }
img[src$='pro-menu-main-root@2x.png'] { max-width: 480px; }
img[src$='pro-tidy-prefs-Advanced.png'] { max-width: 390px; }
img[src$='pro-tidy-prefs-Advanced@2x.png'] { max-width: 390px; }
img[src$='pro-tidy-prefs-Colors.png'] { max-width: 500px; }
img[src$='pro-tidy-prefs-Colors@2x.png'] { max-width: 500px; }
img[src$='pro-tidy-prefs-Document.png'] { max-width: 390px; }
img[src$='pro-tidy-prefs-Document@2x.png'] { max-width: 390px; }
img[src$='pro-tidy-prefs-Editor.png'] { max-width: 500px; }
img[src$='pro-tidy-prefs-Editor@2x.png'] { max-width: 500px; }
img[src$='pro-tidy-prefs-Options.png'] { max-width: 390px; }
img[src$='pro-tidy-prefs-Options@2x.png'] { max-width: 390px; }
img[src$='pro-tidy-prefs-Saving.png'] { max-width: 390px; }
img[src$='pro-tidy-prefs-Saving@2x.png'] { max-width: 390px; }
img[src$='pro-tidy-prefs-Tidy.png'] { max-width: 486px; }
img[src$='pro-tidy-prefs-Tidy@2x.png'] { max-width: 486px; }
img[src$='web-menu-application.png'] { max-width: 198px; }
img[src$='web-menu-application@2x.png'] { max-width: 198px; }
img[src$='web-menu-context-options-prefs.png'] { max-width: 212px; }
img[src$='web-menu-context-options-prefs@2x.png'] { max-width: 212px; }
img[src$='web-menu-context-options.png'] { max-width: 260px; }
img[src$='web-menu-context-options@2x.png'] { max-width: 260px; }
img[src$='web-menu-file.png'] { max-width: 178px; }
img[src$='web-menu-file@2x.png'] { max-width: 178px; }
img[src$='web-tidy-prefs-Advanced.png'] { max-width: 390px; }
img[src$='web-tidy-prefs-Advanced@2x.png'] { max-width: 390px; }
img[src$='web-tidy-prefs-Document.png'] { max-width: 390px; }
img[src$='web-tidy-prefs-Document@2x.png'] { max-width: 390px; }
img[src$='web-tidy-prefs-Editor.png'] { max-width: 500px; }
img[src$='web-tidy-prefs-Editor@2x.png'] { max-width: 500px; }
img[src$='web-tidy-prefs-Options.png'] { max-width: 390px; }
img[src$='web-tidy-prefs-Options@2x.png'] { max-width: 390px; }
img[src$='web-tidy-prefs-Saving.png'] { max-width: 390px; }
img[src$='web-tidy-prefs-Saving@2x.png'] { max-width: 390px; }
img[src$='web-tidy-prefs-Tidy.png'] { max-width: 486px; }
img[src$='web-tidy-prefs-Tidy@2x.png'] { max-width: 486px; }
img[src$='web-tidy-prefs-Updates.png'] { max-width: 390px; }
img[src$='web-tidy-prefs-Updates@2x.png'] { max-width: 390px; }
img[src$='breadcrumb-separator-light.png'] { max-width: 7px; }
img[src$='icon_256x256.png'] { max-width: 256px; }
img[src$='icon_256x256@2x.png'] { max-width: 256px; }
img[src$='icon_32x32.png'] { max-width: 32px; }
img[src$='icon_32x32@2x.png'] { max-width: 32px; }
