<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en_us</string>
	<key>CFBundleIdentifier</key>
	<string>com.balthisar.tidy.help</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Balthisar Tidy</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1</string>
	<key>CFBundleSignature</key>
	<string>hbwr</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>HPDBookAccessPath</key>
	<string>Balthisar Tidy.html</string>
	<key>HPDBookIconPath</key>
	<string>shared/app_icon_0016.png</string>
	<key>HPDBookIndexPath</key>
	<string>Balthisar Tidy.helpindex</string>
	<key>HPDBookKBProduct</key>
	<string>balthisartidy1</string>
	<key>HPDBookKBURL</key>
	<string>http://www.balthisar.com/software/tidy</string>
	<key>HPDBookRemoteURL</key>
	<string></string>
	<key>HPDBookTitle</key>
	<string>Balthisar Tidy Help</string>
	<key>HPDBookType</key>
	<string>3</string>
	<key>HPDBookTopicListCSSPath</key>
	<string>css/topiclist.css</string>
	<key>HPDBookTopicListTemplatePath</key>
	<string>css/topiclist.xquery</string>
</dict>
</plist>
