<% pages = (defined? group) ? pages_related_to(group) : related_pages %>
<% if !pages.to_a.empty? %>
<div class="table_contents" markdown="0">
    <dl>
    <% pages.each do |p| %>
        <dt><a href="<%= p.metadata[:link] %>"><%= p.data.title %></a></dt>
        <% if p.data.blurb %>
        <dd><%= p.data.blurb %></dd>
        <% end %>
    <% end %>
    </dl>
</end>
<% end %>
