---
title:  View Tidy’d Text
blurb: This lesson demonstrates how to view the “Tidy’d” text that <em>Balthisar
       Tidy</em> makes for you.
layout: template-logo-medium
order: 6
---
<%= partial 'markdown-links' %>
<%= partial 'markdown-images' %>

<% content_for :seeAlso do %>
<ul>
    <li><a href="../../reference/docu/docu-sourcearea.html">Reference: Source Area</a></li>
    <li><a href="../../reference/prefs/prefs-docappearance.html">Reference: Document Appearance</a></li>
</ul>
<% end %>

<%= current_page.data.title %>
==============================

*Balthisar Tidy* provides the Tidy’d HTML in the
[Tidy HTML][docu-source-tidyd] pane. You can view
this HTML by following these simple steps.

<div class="steps" markdown="1">
1.  Make sure that you have [opened the document][doc-open] that you would like
    to Tidy.

2.  Observe the Tidy’d document in the [Tidy HTML][docu-source-tidyd] pane.
    ![tidy html][docpart-tidyd]
</div>
