---
title: Create a New Document
blurb: This quick lesson will demonstrate how to start with a blank, empty
       document that you can use to quickly generate a structure for valid
       HTML.
layout: template-logo-medium
order: 4
---
<%= partial 'markdown-links' %>
<%= partial 'markdown-images' %>

<%= current_page.data.title %>
==============================

<div class="steps" markdown="1">

By default, _Balthisar Tidy_ automatically creates a new, blank document
when it starts.

You can also create a new document by selecting **New** in the	**File** menu.
![file menu][menu-file]

New documents’ [Tidy options][docwin-chooseoptions] will automatically
be set to those in [Preferences][prefs-tidyoptions].

</div>
