---
title: Tidy an Existing Document
blurb: This quick demonstration shows you how easy it is to Tidy an
       existing document.
layout: template-logo-medium
order: 2
---
<%= partial 'markdown-links' %>
<%= partial 'markdown-images' %>

<%= current_page.data.title %>
==============================

<div class="steps" markdown="1">

You can Tidy an existing document with these simple steps, below.

1.  [Open the document][doc-open] that you would like to Tidy.

2.  [Choose the Tidy options][docwin-chooseoptions] that indicate the cleanup,
    formatting, and checks that you want *Balthisar Tidy* to perform.

3.  When you’re satisfied that the [Tidy’d text][doc-view_tidyd] is what you
    want, [save the file][doc-save].

</div>