---
title: View and Edit HTML Source Text
blurb: Learn the basics of viewing and editing the Source HTML in this lesson.
layout: template-logo-medium
order: 5
---
<%= partial 'markdown-links' %>
<%= partial 'markdown-images' %>

<% content_for :seeAlso do %>
<ul>
    <li><a href="../../reference/docu/docu-sourcearea.html">Reference: Source Area</a></li>
    <li><a href="../../reference/prefs/prefs-docappearance.html">Reference: Document Appearance</a></li>
</ul>
<% end %>

<%= current_page.data.title %>
==============================

<div class="steps" markdown="1">

1.  Make the [HTML Source][docu-source-source] view active by clicking within
    it or pressing the <kbd>Tab</kbd> key until it is selected.
    ![source html][all-docpart-source]


2.  The **HTML Source** pane is a standard Mac&nbsp;OS&nbsp;X text editor with some
    advanced features such as syntax highlighting and other functions as
    available in its contextual menu.

3.  You can observe the effects of your edits to the Tidy’d document in the
    [Tidy HTML pane][doc-view_tidyd].
    ![tidy html][all-docpart-tidyd]

4.  You can examine the diagnoses and corrections that Tidy made to the document
    in the [Tidy Messages][docwin-messages] table.
    ![messages][all-docpart-messages]

</div>
