- pages = current_page.brethren
- unless pages.to_a.empty?
  .table_contents
    %dl
      - pages.each do |p|
        %dt<
          = link_to p.data.title, p
        - if p.data.blurb
          %dd= p.data.blurb

-#
  This partial renders links with blurbs into a <dl> to serve as a high-level
  table of contents. It respects the current build target, includes, excludes,
  order, etc.

