- pages = current_page.breadcrumbs
- unless pages.to_a.empty?
  .breadcrumbs
    %ul
      - pages[0...pages.count-1].each do |p|
        %li= link_to p.data.title, p
      %li Current page

-#
  This partial renders links into an <ul>. This alternate
  version replaces the last link with 'Current page'.
