- commence = (defined?(start) && start) || current_page
- pages = commence.legitimate_children
- unless pages.to_a.empty?
  %ul
    - pages.each do |p|
      %li<
        = link_to p.data.title, p
        = partial 'help_map_inner', :locals => { :start => p }

-#
  This partial renders nested links into an <ul>, below itself.
