- p_prev = current_page.brethren_previous
- p_next = current_page.brethren_next
.navigate_prev_next
  - if p_prev.nil?
    %span Previous
  - else
    = link_to 'Previous', p_prev
  - if p_next.nil?
    %span Next
  - else
    = link_to 'Next', p_next
