- pages = current_page.brethren
- unless pages.to_a.empty?
  %h1 Related Topics
  %ul
    - pages.each do |p|
      %li= link_to p.data.title, p

-#
  This partial renders links with blurbs into a <dl> to serve as a high-level
  table of contents. It respects the current build target, includes, excludes,
  order, etc.

