---
title: Export Tidy Options for Command Line Use
blurb: You’ve finally perfected the options in order to get the output you want.
       Now learn to use these options with the Terminal (command line) version
       of Tidy.
layout: template-logo-medium
order: 4
target:
 - :feature_exports_config
---
<%= partial 'markdown-links' %>
<%= partial 'markdown-images' %>

<% if target_feature?(:feature_exports_config) %>

<% content_for :seeAlso do %>
<ul>
    <li><a href="../../advanced/export_config.html">Use Your Tidy Options with Command Line Tidy</a></li>
</ul>
<% end %>

<%= current_page.data.title %>
==============================

_Balthisar Tidy_ can export a configuration file for use with command line Tidy.
Follow the steps below to learn how.

<div class="steps" markdown="1">

1. From either the **Tidy** panel in **Preferences** or from any open
   document, select the menu at the bottom of the **Tidy Options** list and
   find the **Export a Unix config file with these options…** menu choice.
   ![context menu][context-options-pro]

2. _Balthisar Tidy_ will present a standard file saving dialog. Although a
   suggested name is given, command line Tidy doesn’t have any specific
   requirements for filenames or extensions.

</div>

<% end %>
