//
// JSDTidyFramework.xcconfig
//
// This is the configuration for JSDTidyFramework. It inherits the majority
// of its settings from the project level, so be sure to check the project
// configuration if you attempt to extract the framework from the project.
//
//
//


// This framework is used in application extensions, and so it must be 
// prohibited from accessing non-safe APIs.
APPLICATION_EXTENSION_API_ONLY = YES

CURRENT_PROJECT_VERSION     = 1
DEFINES_MODULE              = YES
DYLIB_COMPATIBILITY_VERSION = 1
DYLIB_CURRENT_VERSION       = 1
DYLIB_INSTALL_NAME_BASE     = @rpath
FRAMEWORK_VERSION           = A
INFOPLIST_FILE              = JSDTidyFramework/Info.plist

// In order to allow the use of user-installed libtidy-balthisar.dylib, we want
// the linker to search the traditional Unix location for it first, followed
// by the typical macOS paths. Probably can be updated for iOS paths, too.
LD_RUNPATH_SEARCH_PATHS = $(inherited) /usr/local/lib @executable_path/../Frameworks @loader_path/Frameworks

PRODUCT_BUNDLE_IDENTIFIER = com.balthisar.$(PRODUCT_NAME:rfc1034identifier)
PRODUCT_NAME              = $(TARGET_NAME)
SKIP_INSTALL              = YES
VERSIONING_SYSTEM         = apple-generic
