//
// libtidy-balthisar.static.xcconfig
//
// This is the configuration for the LibTidy used by JSDTidyFramework. Note that
// most of the build settings are inherited from the project settings.
//
// From Balthisar Tidy 4.3, we will start to static link instead of using the
// dylib, because macOS security requirements are getting stricter.
//


// The prefix header is generated during build via a custom build rule which
// processes the upstream's `version.txt` file to produce this header.
GCC_PREFIX_HEADER = HTMLTidy/xcode-version.h

EXECUTABLE_PREFIX = lib
PRODUCT_NAME = $(TARGET_NAME)

CLANG_WARN_COMMA                          = NO
GCC_WARN_64_TO_32_BIT_CONVERSION          = NO
GCC_WARN_ABOUT_MISSING_FIELD_INITIALIZERS = NO
GCC_WARN_SHADOW                           = NO
