---
title: Hide the Feedback Panel
blurb: When you need more room to work, hiding the Feedback Panel may be a
       good option.
layout: template-logo-medium
---
<%= md_links %>
<%= md_images %>

<%= current_page.data.title %>
==============================

_<%= product_name %>_ has a very configurable display. To hide (or show) the
Feedback panel, follow the steps below.

<div class="steps" markdown="1">

1. Select **Feedback Panel** from the **View** menu. If the panel is currently
   visible you will see that is is checked.
   ![view menu][all-menu-view]

2. You can confirm that the menu item is now unchecked and the feedback panel
   is hidden.

3. You can also easily toggle the visibility of the **Feedback Panel** using the
   **Feedback** button on the document window’s toolbar.
   ![toolbar][all-docpart-toolbar]

</div>
