---
title: Hide the Tidy Messages Table
blurb: When you need more room to work, hiding the Tidy Messages table may be a
       good option.
layout: template-logo-medium
order: 05
---
<%= partial 'markdown-links' %>
<%= partial 'markdown-images' %>

<%= current_page.data.title %>
==============================

_Balthisar Tidy_ has a very configurable display. To hide (or show) the
**Tidy Messages** panel, follow the steps below.

<div class="steps" markdown="1">

1. Select **Tidy Messages** from the **View** menu. If the panel is currently
   visible you will see that is is checked.
   ![view menu][menu-view]

2. You can confirm that the menu items is now unchecked, and the messages panel
   is hidden.

3. You can also easily toggle the visibility of the **Tidy Messages** panel
   using the **Messages** button on the document window’s toolbar.
   ![toolbar][docpart-toolbar]

</div>
