---
title: Use Balthisar Tidy in Full Screen Mode
blurb: Ignore your distractions by working in full screen mode.
layout: template-logo-medium
order: 07
---
<%= partial 'markdown-links' %>
<%= partial 'markdown-images' %>

<%= current_page.data.title %>
==============================

Full screen mode makes it simple for you to use _<%= product_name %>_ without
any distractions. Follow these steps to enable full screen mode.

<div class=" steps" markdown="1">

1. Select **Enter Full Screen** from the **View** menu.
   ![view menu][all-menu-view]

2. Alternatively you can use the shortcut key as shown in the **View** menu.

3. You can also use the standard Mac&nbsp;OS&nbsp;X document window title bar
   control to start full screen.
   ![fullscreen][all-docpart-windowcontrols]

</div>
