---
title: Change the Source Area Orientation
blurb: Explore your source code layout options in this brief lesson.
layout: template-logo-medium
order: 08
---
<%= partial 'markdown-links' %>
<%= partial 'markdown-images' %>

<%= current_page.data.title %>
==============================

_Balthisar Tidy_ has a very configurable display. To toggle the orientation of
the **Source HTML** relative to the **Tidy HTML**, follow the steps below.

<div class="steps" markdown="1">

1. Select **Vertical Source Code** from the **Source Code** submenu of the
   **View** menu.
   ![view menu][menu-view-sourcecode]

2. You can also easily toggle the orientation using the **Orient** button
   on the document window’s toolbar.
   ![view menu][docpart-toolbar]

</div>
