---
title: Hide the Tidy Options
blurb: When you’re happy with your selection of Tidy options, you may find that
       they get in your way. Learn how to hide them in this article.
layout: template-logo-medium
order: 04
---
<%= partial 'markdown-links' %>
<%= partial 'markdown-images' %>

<%= current_page.data.title %>
==============================

_Balthisar Tidy_ has a very configurable display. To hide (or show) the
**Tidy Options** panel, follow the steps below.

<div class="steps" markdown="1">

1. Select **Tidy Options** from the **View** menu. If the panel is currently
   visible you will see that is is checked.
   ![view menu][menu-view]

2. You can confirm that the menu items is now unchecked, and the options panel
   is hidden.

3. You can also easily toggle the visibility of the **Tidy Options** panel
   using the **Options** button on the document window’s toolbar.
   ![toolbar][docpart-toolbar]

</div>
