---
title: Show the Quick Tutorial
blurb: View an on-screen guide to the major elements of a
       <em>Balthisar Tidy</em> document window.
layout: template-logo-medium
order: 13
---
<%= partial 'markdown-links' %>
<%= partial 'markdown-images' %>

<%= current_page.data.title %>
==============================

The **Quick Tutorial** is a brief walkthrough of a _Balthisar Tidy_ document
window that highlights its main features. Follow the steps below to activate
the **QUick Tutorial**.
![quick tutorial][tutorial]

<div class="steps" markdown="1">

1. The **Quick Tutorial** starts automatically the first time you use _Balthisar
   Tidy_.

2. You can also activate the **Quick Tutorial** by selecting **Show the Quick
   Tutorial…** in the **Help** menu.
   ![help menul][menu-help]

3. You can start the **Quick Tutorial** using the **Tutorial** button on the
   document window’s toolbar.
   ![view menu][docpart-toolbar]

</div>