---
title: Use the Window Splitter Controls
blurb: Learn to gain control over the size of the document window elements.
layout: template-logo-medium
order: 03
---
<%= partial 'markdown-links' %>
<%= partial 'markdown-images' %>

<%= current_page.data.title %>
==============================

In addition to the ability to [toggle the Tidy Options][docwin-hidetidyoptions]
and [toggle the Tidy Messages][docwin-hidetidymessages] panels, You can change
the relative size of every document panel by using the splitters.

<div class="steps" markdown="1">

1. The splitters are impossible to see, but your mouse cursor will change shape
   when it passes over one of the splitters.
   ![left-right cursor][cursor-splitter-leftright]
   ![up-down cursor][cursor-splitter-updown]

2. At this point you can press and drag with the mouse to resize the adjacent
   areas.

</div>
