<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>{$CFBundleIdentifier}</string>
	<key>CFBundleName</key>
	<string>{$CFBundleName}</string>
	<key>HPDBookAccessPath</key>
	<string>index.html</string>
	<key>HPDBookIndexPath</key>
	<string>{$CFBundleName}.helpindex</string>
	<key>HPDBookTitle</key>
	<string>{$CFBundleName} Help</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en_us</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.0</string>
	<key>CFBundleVersion</key>
	<string>2.0.0</string>
	<key>HPDBookIconPath</key>
	<string>shared/icon_32x32@2x.png</string>
	<key>HPDBookKBProduct</key>
	<string>balthisartidy1</string>
	<key>HPDBookKBURL</key>
	<string>http://www.balthisar.com/software/tidy</string>
	<key>HPDBookRemoteURL</key>
	<string></string>
	<key>HPDBookTopicListCSSPath</key>
	<string></string>
	<key>HPDBookTopicListTemplatePath</key>
	<string></string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>hbwr</string>
	<key>HPDBookType</key>
	<string>3</string>
</dict>
</plist>
