---
title: Help
blurb: Help is better than a phonecall away.
layout: template-logo-medium
order: 6
---
<%= partial 'markdown-links' %>
<%= partial 'markdown-images' %>

<%= current_page.data.title %>
==============================

_Balthisar Tidy_ uses standard Mac OS X menus that an experienced (or even
novice!) user should find self-explanatory. The menu items’s descriptions
below are limited to the features unique to _Balthisar Tidy_.

<div class="image_article" markdown="1">
<div markdown="span">
    ![help menu][menu-help]
</div>

The **File** menu is a completely standard Macintosh File menu, plus the
addition of the **Show the Quick Tutorial…** menu item, as described in
[Show the Quick Tutorial][docwin-quicktutorial].

</div>

