---
title: Window
blurb: The Window menu is oft-overlooked. Refresh your memory here.
layout: template-logo-medium
order: 5
---
<%= partial 'markdown-links' %>
<%= partial 'markdown-images' %>

<%= current_page.data.title %>
==============================

_Balthisar Tidy_ uses standard Mac OS X menus that an experienced (or even
novice!) user should find self-explanatory. The menu items’s descriptions
below are limited to the features unique to _Balthisar Tidy_.

<div class="image_article" markdown="1">
<div markdown="span">
    ![window menu][menu-window]
</div>

The **Window** menu is a completely standard Macintosh Window menu.

</div>

