---
title: Getting Started with Balthisar Tidy
blurb: A step-by-step walkthrough to getting started with Balthisar Tidy.
layout: template-logo-small
order: 1
---
<%= partial 'markdown-links' %>
<%= partial 'markdown-images' %>

<%= current_page.data.title %>
==============================

This brief walkthrough will help you get started using <em>Balthisar Tidy</em>
right away. In it, you will “Tidy” a document.

First, make sure you have an HTML file that you would like to Tidy. If you don’t
have a file, then feel free to copy the text below, and you	can paste it into
Tidy when we get started.

~~~~~ html
<h1>Hello, World!</h3>
<p>The quick brown fox jumps over the lazy dog.</p>
<a href="#"><div>Sometimes valid, sometimes now.</div></a>
<p>Some elements are <b>deprecated</b> in HTML, and they should
   be replaced by <i>other</i> elements.
</p>
<p>I hope that someday, <em><strong>everything</em></strong> will come
   to fruition!
</p>
~~~~~

* * *

<div class="steps narrow" markdown="1">

In this walkthrough, we will Tidy some source HTML and you will gain
a good overview of how <em>Balthisar Tidy</em> works. Make sure that
<em>Balthisar Tidy</em> is running.

1. **If you have an HTML file that you would like to Tidy**:
   [Open it][doc-open] it now from the **File* menu. If Tidy has
   trouble opening the file, then the [file encoding helper][doc-encoding]
   may appear in the document window.

2. ***If you are going to paste the sample as describe above***:
   An empty Tidy document should already be open. Paste the code
   that you copied above into the text area labeled “Source HTML.”
   You can [learn more][doc-view_edit] about this text area, too.

3. Observe the text in the area labeled “Tidy’d HTML.” Compare it with
   the text in the “Source HTML” area. In many cases you will see some
   significant differences. If you use the sample text above, you may
   be impressed at the well-formed result. You can
   [learn more][doc-view_tidyd] about this text area, too.

4. Take note of any messages in the area labeled “Tidy Messages.” If
   errors are found in your document, Tidy will correct most of them
   automatically and inform your about the changes here. You can
   [learn more][docwin-messages] about this message area, too.

5. Feel free to experiment with the Tidy options in the “Tidy Options”
   area of the document window, and notice how changes affect the
   “Tidy’d HTML.” You can learn how to understand the meaning of these
   options in [Tidy Options][docwin-chooseoptions].

6. You can pre-set Tidy options in _Balthisar Tidy_’s
   [Preferences][prefs-tidyoptions].

7. At this point you can save your HTML document if you like. Because
   Tidy modifies your data, _Balthisar Tidy_ can implement some
   measure of protection when you [save a document][doc-save].

</div>

Congratulations! You now understand the basic workflow and options that
_Balthisar Tidy_ has to offer!
