<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backgroundColor</key>
	<string>1.000000 1.000000 1.000000</string>
	<key>colourForAttributes</key>
	<string>0.500000 0.500000 0.200000</string>
	<key>colourForAutocomplete</key>
	<string>0.840000 0.410000 0.006000</string>
	<key>colourForCommands</key>
	<string>0.031000 0.000000 0.855000</string>
	<key>colourForComments</key>
	<string>0.000000 0.450000 0.000000</string>
	<key>colourForInstructions</key>
	<string>0.737000 0.000000 0.647000</string>
	<key>colourForKeywords</key>
	<string>0.737000 0.000000 0.647000</string>
	<key>colourForNumbers</key>
	<string>0.031000 0.000000 0.855000</string>
	<key>colourForStrings</key>
	<string>0.804000 0.071000 0.153000</string>
	<key>colourForVariables</key>
	<string>0.730000 0.000000 0.740000</string>
	<key>coloursAttributes</key>
	<integer>1</integer>
	<key>coloursAutocomplete</key>
	<integer>0</integer>
	<key>coloursCommands</key>
	<integer>1</integer>
	<key>coloursComments</key>
	<integer>1</integer>
	<key>coloursInstructions</key>
	<integer>1</integer>
	<key>coloursKeywords</key>
	<integer>1</integer>
	<key>coloursNumbers</key>
	<integer>1</integer>
	<key>coloursStrings</key>
	<integer>1</integer>
	<key>coloursVariables</key>
	<integer>1</integer>
	<key>currentLineHighlightColour</key>
	<string>0.960000 0.960000 0.710000</string>
	<key>defaultSyntaxErrorHighlightingColour</key>
	<string>1.000000 1.000000 0.700000</string>
	<key>displayName</key>
	<string>Classic Fragaria</string>
	<key>insertionPointColor</key>
	<string>0.000000 0.000000 0.000000</string>
	<key>textColor</key>
	<string>0.000000 0.000000 0.000000</string>
	<key>textInvisibleCharactersColour</key>
	<string>0.000000 0.000000 0.000000</string>
</dict>
</plist>
